@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background-black-primary text-white; /* Apply Tailwind classes for background and text color */
}

@layer utilities {
  .gradient-border {
    border-radius: 8px;
    background: linear-gradient(70deg, #969696, #343434);
  }
}

@layer utilities {
  .placeholder-style::placeholder {
    font-weight: 400;
    font-size: 16px;
    color: #7f8084;
  }
}
